{% extends 'core/base.html' %}

<h2>Список ТО</h2>

<form method="get">
  <label>Вид ТО:</label>
  <select name="to_type">
    <option value="">-- все --</option>
    {% for item in to_types %}
      <option value="{{ item.id }}" {% if selected.to_type == item.id|stringformat:"s" %}selected{% endif %}>{{ item.name }}</option>
    {% endfor %}
  </select>

  <label>Сервисная компания:</label>
  <select name="service">
    <option value="">-- все --</option>
    {% for item in services %}
      <option value="{{ item.id }}" {% if selected.service == item.id|stringformat:"s" %}selected{% endif %}>{{ item.name }}</option>
    {% endfor %}
  </select>

  <label>Зав. номер машины:</label>
  <input type="text" name="serial" value="{{ selected.serial }}">

  <button type="submit">Фильтр</button>
</form>
