{% extends 'core/base.html' %}

{% block content %}
<h2>Техническое обслуживание</h2>

<!--Фильтры -->
<form method="get" class="row row-cols-lg-auto g-3 align-items-center mb-4">
  <div class="col">
    <select name="to_type" class="form-select">
      <option value="">Тип ТО</option>
      {% for item in to_types %}
        <option value="{{ item.id }}" {% if selected.to_type == item.id|stringformat:"s" %}selected{% endif %}>{{ item.name }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="col">
    <input type="text" name="serial" class="form-control" placeholder="Зав. номер машины" value="{{ selected.serial }}">
  </div>

  <div class="col">
    <select name="service" class="form-select">
      <option value="">Сервисная организация</option>
      {% for item in services %}
        <option value="{{ item.id }}" {% if selected.service == item.id|stringformat:"s" %}selected{% endif %}>{{ item.name }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="col">
    <button type="submit" class="btn btn-primary">Фильтр</button>
  </div>
</form>

<!-- Таблица ТО -->
<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead class="table-light">
      <tr>
        <th>Зав. номер машины</th>
        <th>Тип ТО</th>
        <th>Дата проведения</th>
        <th>Наработка, м/ч</th>
        <th>Сервисная компания</th>
        <th>Описание</th>
      </tr>
    </thead>
    <tbody>
      {% for item in maintenance %}
        <tr onclick="window.location='{% url 'maintenance_detail' item.pk %}'" style="cursor: pointer;">
          <td>{{ item.machine.serial_number }}</td>
          <td>{{ item.type.name }}</td>
          <td>{{ item.date|date:"d.m.Y" }}</td>
          <td>{{ item.operating_time }}</td>
          <td>{{ item.service_company.name }}</td>
          <td>{{ item.description|truncatechars:80 }}</td>
        </tr>
      {% empty %}
        <tr><td colspan="6">Нет данных</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
